header{
    height: 100px;
    background: linear-gradient(90deg, rgb(137, 0, 228)0%, rgb(255, 255, 255) 100%);
    display: flex;
    align-items: center;

    .logo{
        transition: 0.3s;
        height: 70px;
        width: 70px;
        margin: 15px;
        g{
            fill: rgb(255, 255, 255);
        }
    }
    .logo:hover{
        transform: scale(1.1);
        transition: 0.5s;

        g{
            fill:rgb(87, 170, 244)        
        }
    }
    
}

body{
    margin: 0px;
}

.barra_pesquisa{
    img{
        height: 15px;
        width: 15px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 450px;
    background-color: rgb(255, 255, 255);   
    color: rgb(236, 236, 236);
    border-radius: 2px;
    margin-left: 200px;

    input{
        height: 35px;
        width: 400px;
        background: none;
        border: none;
    }

    button{
        background: none;
        border: none;
    }
}
.vitrine_produtos{
    background-color: rgba(117, 72, 175, 0.87);
    height: 310px;
    width: 1950px;
    display: flex;
    gap: 15px;
    .card{
        background-color: rgb(255, 255, 255);
        height: 290px;
        width: 200px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        img{
            height: 120px;
        }

        h2{
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .price{
            width: 100%;
            span{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        .frete{
            width: 100%;
            font-size: bold;
        }
        a{
            text-decoration: none; 
            color: rgba(0, 0, 0, 0.815);
        }
    }
    .nome_produto{
        height: 38px;
        width: 166px;
        overflow: hidden;

    }

    
}
.left_button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 0, 228);
    border-radius: 30px;
     transform: rotate(180deg);
    svg{
        width: 55px;
        height: 55px;
        g{
            fill: rgb(0, 0, 0);
        }
    }

}
.rigth_button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
   
   
    svg{
        width: 55px;
        height: 55px;
        g{
            fill: rgb(0, 0, 0);
        }
    }

}